[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
dask = "*"
pandas = "*"
numexpr = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
scikit-learn = "*"
scikit-image = "*"
xgboost = "*"
sympy = "*"
cython = "*"
patsy = "*"
cloudpickle = "*"
dill = "*"
bokeh = "*"
sqlalchemy = "*"
vincent = "*"
beautifulsoup4 = "*"
protobuf = "*"
xlrd = "*"
bottleneck = "*"
plotly = "*"
numba = "*"
ipywidgets = "*"
ipympl = "*"
facets = "*"
nbconvert = "*"
pymongo = "*"
psycopg2 = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
